<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.choinisae.nisaechoi.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".CoffeeOrderActivity" />
        <activity android:name=".AndroidExamActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".listexam.ListPracticeActivity" />
        <activity android:name=".exam7_4.ListExamActivity" />
        <activity android:name=".design.DesignExamActivity" />
        <activity android:name=".IntentExam.IntentActivity" />
        <activity android:name=".IntentExam.NextActivity" />
        <activity android:name=".IntentExam.IntentExamActivity" />
        <activity android:name=".badexam.FirstActivity" />
        <activity android:name=".badexam.SecondActivity" />
        <activity android:name=".memo_practice.MemoMainActivity" />
        <activity android:name=".memo_practice.WriteMemoActivity" />
        <activity android:name=".lifeCycle.LifeCycleActivity" />
        <activity android:name=".exam7_11.ExamActivity" />
        <activity android:name=".exam7_11.ExamSecondActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".dialog.MyDialog" />
        <activity android:name=".exam7_14.ExamActivity" />
        <activity android:name=".memo_fragment.MemoExamActivity" />
        <activity android:name=".memo_fragment.WriteMemoActivity2" />
        <activity android:name=".last.LastFragmentExam" />
        <activity android:name=".girdview.GridActivity" />
        <activity android:name=".scroll_view.ScrollActivity" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fragment.FragCallActivity" />
        <activity android:name=".fragment.ChangeActivity" />
        <activity android:name=".fragment.NumberChangeActivity" />
        <activity android:name=".database.DataBaseActivity" />
        <activity android:name=".android_db.AndroidDbActivity" />
        <activity android:name=".networkcheck.NetworkCheckActivity"></activity>
    </application>

</manifest>